apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-region-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web-app
        image: nginx:latest 
        ports:
        - containerPort: 80
        env:
        - name: DB_HOST
          value: "mrk8s-us-east-db.c69k6mom03y2.us-east-1.rds.amazonaws.com"
        - name: REDIS_HOST
          value: "mrk8s-us-east-redis.ad9wjf.0001.use1.cache.amazonaws.com"
