apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
  namespace: ecom
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: web
        image: 306601824743.dkr.ecr.us-east-1.amazonaws.com/fastapi-app:latest
        ports:
        - containerPort: 8000
        env:
        # These names must match what your FastAPI code looks for
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: rds-secret
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: rds-secret
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: rds-secret
              key: DB_PASS
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: rds-secret
              key: DB_NAME
